.section {
  text-align: center;
}
.buttons-list {
  display: flex;
  margin: 10px 0;
  justify-content: center;
}
.button {
  border-radius: 30%;
  padding: 0;

  width: 100px;
  height: 50px;
  margin-right: 10px;

  font-weight: 500;
  font-size: 22px;

  cursor: pointer;
  opacity: none;
}
.button:first-letter {
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(44, 119, 189);
  color: white;
}
.statistics-item {
  font-weight: 400;
  font-size: 24px;

  margin-top: 10px;
}
